<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.batch.avcpersistence.mapper.Sample2EntityMapper">

    <select id="getSample2DTOList" resultType="com.batch.avcpersistence.entities.Sample2Entity">
        select id, name, description
        from sample.sample2
    </select>

    <insert id="bulkInsertSample2" parameterType="com.batch.avcpersistence.entities.Sample2Entity">
        INSERT INTO sample.sample2(strg_ymd, name)
        VALUES
        <foreach collection="entities" item="item" separator=",">
            (#{item.strgYmd}, #{item.name})
        </foreach>
    </insert>
</mapper>