spring:
  config:
    import: classpath:/info/info.yml

  batch:
    job:
      enabled: true
    jdbc:
      initialize-schema: always

  datasource:
    url: jdbc:mysql://localhost:3306/mqnic?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true